/* Variáveis de cores */
:root {
  --azul-claro: #1D49C4;
  --cinza: #F9FAFB;
  --cinza-escuro: #cccaca;
  --azul-escuro: #1E3A8A;
  --branco: #FFFFFF;
  --laranja: #F97316;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 60px 0;
  border-radius: 8px;
  width: 550px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 0 50px;
}

.box .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 0;
}

.box .titulo p {
  color: #747373;
  margin-top: 0;
  margin-bottom: 20px;
}

.box .titulo h1 {
  margin-top: 0;
}

.box h3 {
  margin: 0;
}

input::placeholder,
textarea::placeholder {
  color: #dcdbdb;
  opacity: 1;
  /* importante para alguns navegadores como Firefox */
}

.box .entrar {
  width: 100%;
  height: 41px;
  background-color: var(--laranja);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

.box #aviso {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.box #aviso p {
  margin: 20px;
  font-size: 15px;
  margin-bottom: 20px;
}

.box #aviso a {
  text-decoration: none;
  margin-left: 5px;
  color: var(--laranja);
}

.box .esqueci-senha a {
  text-decoration: none;
  color: var(--laranja);
  display: flex;
  justify-content: flex-end;
}